{% extends "mycinema/base.html" %}
{% load extra_tags %}
{% load static %}
{% block content %}

    {% for cinema1, cinema2 in cinemas %}


        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        <a class="hide-link-effects" href="{% url 'cinema-detail' cinema1.id %}"><h3>
                            <strong>{{ cinema1.name }}</strong></h3></a>
                        </br>
                        <div class="d-flex">
                            <ul class="nav nav-pills card-header-pills list-inline mx-auto justify-content-center">
                                <li class="nav-item list-inline-item">
                                    <button class="nav-link btn btn-outline-dark btn-sm"
                                            id="main-btn-{{ forloop.counter }}">Main
                                    </button>
                                </li>
                                <li class="nav-item list-inline-item">
                                    <button class="nav-link btn btn-outline-dark btn-sm"
                                            id="opening-hours-{{ forloop.counter }}">Opening hours
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="{% url 'cinema-detail' cinema1.id %}" class="hide-link-effects">
                        <div class="card-body more-details">
                            <img class="card-img-bottom" id="img-{{ forloop.counter }}" src="{{ cinema1.image.url }}"
                                 alt="Card image cap">
                        </div>
                    </a>
                    <div class="card-footer">
                        {{ cinema1.localization }}
                    {% if user.is_authenticated %}
                           {% if not user in cinema1.subscribed_by.all  %}

                                <form action="/addsub/" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                    <input type="hidden" value="{{ cinema1.id }}" name="subscribedfilmid"></input>
                                    <input type="hidden" value="cinema" name="rodzaj"></input>
                                    <input value="Sub!" type="submit" name="subbutton"
                                           class="btn float-right btn-success btn-circle btn-sm ">
                                    </input>
                                </form>
                            {% else %}
                                <form action="/unsub/" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                    <input type="hidden" value="{{ cinema1.id }}" name="subscribedfilmid"></input>
                                    <input type="hidden" value="cinema" name="rodzaj"></input>

                                    <input value="Unsub!" type="submit" name="subbutton"
                                           class="btn float-right btn-danger btn-circle btn-sm ">
                                    </input>
                                </form>
                            {% endif %}
                    {% endif %}
                    </div>

                </div>

            </div>
            <div class="col-md-6">

                {% if cinema2 is not None %}
                    <div class="card text-center">
                        <div class="card-header">
                            <a href="{% url 'cinema-detail' cinema2.id %}" class="hide-link-effects"><h3>
                                <strong>{{ cinema2.name }}</strong></h3></a>
                            </br>
                            <div class="d-flex">
                                <ul class="nav nav-pills card-header-pills list-inline mx-auto justify-content-center">
                                    <li class="nav-item list-inline-item">
                                        <button class="nav-link btn btn-outline-dark btn-sm"
                                                id="main-btn-{{ forloop.counter }}-2">Main
                                        </button>
                                    </li>
                                    <li class="nav-item list-inline-item">
                                        <button class="nav-link btn btn-outline-dark btn-sm"
                                                id="opening-hours-{{ forloop.counter }}-2">Opening hours
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="{% url 'cinema-detail' cinema2.id %}" class="hide-link-effects">
                            <div class="card-body more-details">
                                <img class="card-img-bottom" id="img-{{ forloop.counter }}-2"
                                     src="{{ cinema2.image.url }}" alt="Card image cap">
                            </div>
                        </a>
                        <div class="card-footer">
                            {{ cinema2.localization }}
                    {% if user.is_authenticated %}

                              {% if not user in cinema2.subscribed_by.all  %}

                                <form action="/addsub/" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                    <input type="hidden" value="{{ cinema2.id }}" name="subscribedfilmid"></input>
                                    <input type="hidden" value="cinema" name="rodzaj"></input>

                                    <input value="Sub!" type="submit" name="subbutton"
                                           class="btn float-right btn-success btn-circle btn-sm ">
                                    </input>
                                </form>
                            {% else %}
                                <form action="/unsub/" method="post">{% csrf_token %}
                                    <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                    <input type="hidden" value="{{ cinema2.id }}" name="subscribedfilmid"></input>
                                    <input type="hidden" value="cinema" name="rodzaj"></input>

                                    <input value="Unsub!" type="submit" name="subbutton"
                                           class="btn float-right btn-danger btn-circle btn-sm ">
                                    </input>
                                </form>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>
        </br>

        <script>
            $("button#opening-hours-{{ forloop.counter }}").click(function () {
                let div = $("img#img-{{ forloop.counter }}").hide().parent();

                if (div.children().length <= 1) {
                    div.append("<p>{{ cinema1.opening_hours|linebreaksbr }}</p>");
                } else {
                    div.children("p").show();
                }
            });

            $("button#opening-hours-{{ forloop.counter }}-2").click(function () {
                let div = $("img#img-{{ forloop.counter }}-2").hide().parent();

                if (div.children().length <= 1) {
                    div.append("<p>{{ cinema2.opening_hours|linebreaksbr }}</p>");
                } else {
                    div.children("p").show();
                }
            });


            $("button#main-btn-{{ forloop.counter }}").click(function () {
                let div = $("img#img-{{ forloop.counter }}").parent();
                div.children().hide();
                $("img#img-{{ forloop.counter }}").show();
            });

            $("button#main-btn-{{ forloop.counter }}-2").click(function () {
                let div = $("img#img-{{ forloop.counter }}-2").parent();
                div.children().hide();
                $("img#img-{{ forloop.counter }}-2").show();
            });
        </script>
    {% endfor %}

{% endblock content %}
