<article class="media content-section">

    <div class="media-body">

        <div class="article-metadata">

        </div>

        <h2> Comments({{ OBJ.opinions.count }}) </h2>

        </br>
        {% if user.is_authenticated %}
            <a href="{% url URL object.id %}"> Add comment</a>
        {% else %}
            <a href="#"> You need to be logged in to write a comment </a>
        {% endif %}
        </br>
        </br>
        {% if not OBJ.opinions.all %}
            No comments yet...
        {% else %}
            {% for comment in OBJ.opinions.all %}
                <a class="mr-2" href="#">{{ comment.authorek }}</a>
                <small class="text-muted">{{ comment.date_posted|date:"F d,Y" }}</small>
                <p>{{ comment.opinion }}</p>
                <strong><p>My Rate: {{ comment.rating }}/5</p></strong>
                <hr bgcolor="black">
            {% endfor %}
        {% endif %}

    </div>
</article>