{% extends "mycinema/base.html" %}
{% load extra_tags %}
{% load my_tags %}
{% load static %}
{% block content %}


    <div class="container xd">
        {% for series1, series2 in series %}
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card card_flex">
                        <div class="series_img">
                            <a href="{% url 'series-detail' series1.id %}" class="hide-link-effects">
                                <img class="card-img-top" id="img-{{ forloop.counter }}" src="{{ series1.image.url }}"
                                     alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'series-detail' series1.id %}" class="hide-link-effects"><h5
                                    class="card-title">{{ series1.title }}</h5></a>
                            <p class="card-text">{{ series1.short_description }}</p>
                        </div>
                        <div class="card-footer card-footer-buttons">
                            <a class="btn btn-primary" href="{% url 'series-detail' series1.id %}" role="button">Read
                                more</a>
                            {% if user.is_authenticated %}
                                {% if not user in series1.subscribed_by.all %}

                                    <form action="/addsub/" method="post">{% csrf_token %}
                                        <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                        <input type="hidden" value="{{ series1.id }}" name="subscribedfilmid"></input>
                                        <input type="hidden" value="series" name="rodzaj"></input>
                                        <input value="Sub!" type="submit" name="subbutton"
                                               class="btn btn-success btn-circle">
                                        </input>
                                    </form>
                                {% else %}
                                    <form action="/unsub/" method="post">{% csrf_token %}
                                        <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                        <input type="hidden" value="{{ series1.id }}" name="subscribedfilmid"></input>
                                        <input type="hidden" value="series" name="rodzaj"></input>

                                        <input value="Unsub!" type="submit" name="subbutton"
                                               class="btn btn-danger btn-circle">
                                        </input>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if series2 is not None %}
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card card_flex">
                            <div class="series_img">
                                <a href="{% url 'series-detail' series2.id %}" class="hide-link-effects">
                                    <img class="card-img-top" id="img--{{ forloop.counter }}"
                                         src="{{ series2.image.url }}" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'series-detail' series2.id %}" class="hide-link-effects"><h5
                                        class="card-title">{{ series2.title }}</h5></a>
                                <p class="card-text">{{ series2.short_description }}</p>
                            </div>
                            <div class="card-footer card-footer-buttons">
                                <a class="btn btn-primary" href="{% url 'series-detail' series2.id %}" role="button">Read
                                    more</a>
                                {% if user.is_authenticated %}
                                    {% if not user in series2.subscribed_by.all %}

                                        <form action="/addsub/" method="post">{% csrf_token %}
                                            <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                            <input type="hidden" value="{{ series2.id }}"
                                                   name="subscribedfilmid"></input>
                                            <input type="hidden" value="series" name="rodzaj"></input>

                                            <input value="Sub!" type="submit" name="subbutton"
                                                   class="btn btn-success btn-circle">
                                            </input>
                                        </form>
                                    {% else %}
                                        <form action="/unsub/" method="post">{% csrf_token %}
                                            <input type="hidden" value="{{ user.id }}" name="subscribedid"></input>
                                            <input type="hidden" value="{{ series2.id }}"
                                                   name="subscribedfilmid"></input>
                                            <input type="hidden" value="series" name="rodzaj"></input>

                                            <input value="Unsub!" type="submit" name="subbutton"
                                                   class="btn btn-danger btn-circle">
                                            </input>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
