{% extends "mycinema/base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-5 col-sm-8">
                    <img src="{{ object.image.url }}" alt="ERROR 404">
                </div>
                <div class="col-xl-7 col-sm-4">
                     {% if object.author == user %}
                        <div class="d-flex flex-row">
                            <div class="p-1"><a class=" btn btn-secondary btn-sm mt-1 mb-1 top-0 end-0" href="{% url 'film-update' object.id %}">Update</a></div>
                            <div class="p-1"><a class=" btn btn-danger btn-sm mt-1 mb-1 top-0 end-0" href="{% url 'film-delete' object.id %}">Delete</a></div>
                        </div>
                     {% endif %}
                    <div class="d-flex flex-column">
                        <div class="p-1">
                            <h1>{{ object.name }}</h1>
                        </div>
                        <div class="p-1">
                            <h3>{{ object.profession }}</h3>
                        </div>
                        <div class="p-1">
                            <h5>Rate: {{ object.get_total_rate }}/5.0</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body more-details">
            <p>{{ object.main_description|linebreaks }}</p>
        </div>
        <div class="card-footer">
            <h6>Posted by: <strong>{{ object.author }}</strong></h6>
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        </div>
    </div>

    </br>
    </br>

   {% include "mycinema/display_opinions.html" with OBJ=staff URL="staffopinion-create" %}
{% endblock content %}
