{% extends "jinja2/base.html"%}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">

        <div class="article-metadata">

            <a class="mr-2" href="#">{{ object.author }}</a>
            <a class="mr-4" href="#">#{{ object.category }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d,Y" }}</small>

        </div>

        <h2 class="article-title" >{{ object.title }}</h2>
        <p class="article-content">{{ object.main_description }}</p>

    </div>
</article>
{% endblock content %}